*{
    margin: 0;
    padding: 0;
  box-sizing:border-box;
}
.container{
  padding-bottom: 20px;
display: grid;
place-items: center;
height: 100%;
background-color: rgba(0, 0, 255, 0.763);
}
.heading{
    text-align: center;
    font-family:sans-serif ;
    font-size: x-large;
    margin-bottom: 30px;
    margin-top: 10px;
}
.cards{
 display: grid;
 grid-template-columns: repeat(4,1fr);
 grid-gap:1.5cm;
 margin-right: 10px;
    
    
}
.icon{
    background-color: rgb(201, 193, 178);
    height:150px ;
    width:150px ;
    border-radius: 10px;
    padding: 12px;

}
.card:hover{
transform: scale(1.02);

}


.icon img{
    border-radius:20px ;
    height: 100px;
    place-items: center;
padding-left: 10px;
opacity: 0;
}
.icon.clicked{
background-color: pink;

}
.icon.checked{
background-color: yellow;
}
.icon.clicked img,
.icon.checked img{
    opacity: 1;
}
.icon.shake{
    background-color: rgb(218, 43, 43);
    animation: shake 0.5s;
}
@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }